# configs
manifest.micro

# artifacts
output.log


# directories
apps/
apps_data/
badusb/
dolphin/
gpio/
ibtnfuzzer/
infrared/
music_player/
nfc/
rfid/
rfidfuzzer/
subghz/
subplaylist/
swd_scripts/
u2f/


# development
__private__
venv
